

body {
    margin: 0px;
    font-size: 16px;
    line-height: 1.7;
}
.container {
    padding: 50px 0px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}
.title {
    font-size: 36px;
}
.subtitle {
    font-size: 18px;
    font-style: italic;
}
.tekst-song {
    line-height: 1.5;
}
.tekst-song span {
    font-weight: 500;
    font-family: cursive;
}
